// Header
.sticky-wrapper {
    position: relative;
    z-index: $zindex-sticky;

    &.is-sticky {
        header {
            background-color: rgba($body-bg, .95);
            box-shadow: $box-shadow;
        }
    }
}

header {

    .nav {
        &-item {

            &.active,
            &:hover {
                .nav-link {
                    color: white;
                }
            }
        }

        &-link {
            font-size: 1.4375rem;
            font-family: $font-kanit;
        }
    }

    .dropdown {
        &-search {
            border-left: 1px solid;

            .dropdown {
                &-toggle {
                    &:after {
                        display: none;
                    }
                }

                &-menu {
                    padding: .5rem;
                    background-color: rgba(white, .15);
                }
            }

            .form-control {
                min-width: 250px;
                background-color: transparent;
                color: white;
                background: url("../images/icon-search.svg") no-repeat right 1rem center;
                background-size: 1.5rem;
                border: unset;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .nav-item:not(.dropdown) {
            padding-right: 1rem;
        }

        .dropdown-search {
            margin-left: 1.5rem;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: calc(-1.5rem / 2);
                bottom: 0;
                width: 1px;
                height: 1.5rem;
                margin: auto;
                background-color: $primary;
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .navbar {
            &-brand {
                img {
                    height: 16px;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .navbar-collapse {
            background-color: #210A40;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &.collapsing {
                transition: unset;
            }

            .navbar-nav {
                height: 100%;

                .nav-link {
                    text-align: center;
                }
            }
        }
    }
}

// Main
main {
    margin-top: -66px;

    @include media-breakpoint-down(sm) {
        margin-top: -56px;
    }
}

// Text Title
.text-title {
    @include gradient-x($start-color: $primary, $end-color: $secondary, $start-percent: 0%, $end-percent: 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    display: table;
    font-size: 2.625rem;
    text-align: center;
    margin: 0 auto 1.5rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -4.125rem;
        width: 3.125rem;
        height: 100%;
        background: url("../images/icon-title-left.png") no-repeat center center;
        background-size: contain;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -4.125rem;
        width: 3.125rem;
        height: 100%;
        background: url("../images/icon-title-right.png") no-repeat center center;
        background-size: contain;
    }

    @include media-breakpoint-down(sm) {
        font-size: 32px;
    }
}

// Footer
footer {
    padding: 1rem 0;
    color: rgba($primary, .5);

    .footer-link {
        a {
            opacity: .5;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            // Hover
            &:hover {
                opacity: 1;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        h6 {
            font-size: 14px;
        }
    }
}

// Slick
.slick {
    &-arrow {
        width: 30px;
        height: 43px;
    }

    &-prev {
        left: -40px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../images/icon-slide-prev.png") no-repeat center center;
            background-size: contain;
        }
    }

    &-next {
        right: -40px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url("../images/icon-slide-next.png") no-repeat center center;
            background-size: contain;
        }
    }

    &-dots {
        bottom: -30px;
    }
}

// Buttons
.btn {
    font-family: $font-kanit;

    &-pill {
        border-radius: 10rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        @include media-breakpoint-down(sm) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

// Hr
hr {
    border-top-color: rgba(white, .1);
}