// Header
header {
    min-height: 100vh;
    background: url("../images/bg-head.jpg") no-repeat center top;
    background-size: cover;
    display: flex;
    align-items: center;

    .header {
        &-text {
            color: white;

            h1 {
                font-size: 4.8125rem;
            }

            h2 {
                font-size: 2.3125rem;
            }

            p {
                font-size: 1.625rem;
                opacity: .8;
                margin-bottom: 2.5rem;
            }
        }

        &-search {
            .form-control {
                padding-left: 1.5rem;
                border-radius: 10rem;
                background-color: transparent;
                background: url("../images/icon-search.svg") no-repeat right 1rem center;
                background-size: 1.5rem;
            }

            @include media-breakpoint-up(xl) {
                max-width: 375px;
            }
        }
    }
}