// Head
#head {
    background: url("../images/bg-head.jpg") no-repeat center top fixed;
    background-size: cover;
    position: relative;
    padding: 6rem 0 18rem;

    .head {
        &-text {
            color: white;
            text-shadow: 1px 1px 0px black;

            h1 {
                font-size: 4.8125rem;
            }

            h2 {
                font-size: 2.3125rem;
            }

            p {
                font-size: 1.625rem;
                opacity: .8;
                margin-bottom: 2.5rem;
            }
        }

        &-search {
            .form-control {
                padding-left: 1.5rem;
                border-radius: 10rem;
                background-color: transparent;
                background: url("../images/icon-search.svg") no-repeat right 1rem center;
                background-size: 1.5rem;
            }

            @include media-breakpoint-up(xl) {
                max-width: 375px;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        width: 100%;
        height: 100px;
        background: url("../images/bg-head-bottom.png") no-repeat center top;
        background-size: cover;
    }

    // Mobile
    @include media-breakpoint-down(sm) {
        background: url("../images/bg-header-mobile.jpg") no-repeat center top scroll;
        background-size: cover;
        min-height: unset;
        padding-bottom: 10rem;

        &::before {
            height: 50px;
        }

        .head {
            &-text {

                h1 {
                    font-size: 37px;
                }

                h2 {
                    font-size: 18px;
                }

                p {
                    font-size: 13px;
                }
            }

            &-search {
                .form-control {
                    background: rgba(black, .35) url("../images/icon-search.svg") no-repeat right 1rem center;
                }
            }
        }
    }
}

// Artist Hot
#artistsHot {
    padding-bottom: 3rem;

    .card-columns {
        column-gap: 0;
        column-count: 3;

        .card {
            margin-bottom: 0;
            border: unset;
            border-radius: unset;
            display: block;
            overflow: hidden;

            &-img {
                border-radius: inherit;

                &-overlay {
                    top: 100%;
                    bottom: -100%;
                    background-color: rgba($primary, .8);
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    transition: all 0.2s ease;
                }
            }

            &-title {
                font-size: 1.375rem;
            }

            &-subtitle {
                margin-top: 0;
                margin-bottom: 0.25rem;
            }

            &:hover {
                .card-img-overlay {
                    top: 0%;
                    bottom: 0%;
                    transition: all 0.2s ease;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            column-count: 5;
        }
    }

    @include media-breakpoint-down(sm) {

        .container {
            padding-left: 0;
            padding-right: 0;
        }

        .card-columns .card {

            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(8) {
                display: none;
            }

            &-img-overlay {
                padding: .5rem;
            }

            &-title {
                font-size: 18px;
            }

            &-subtitle {
                font-size: 14px;
            }
        }
    }

    @include media-breakpoint-down(xs) {
        .card-columns .card {

            &-title,
            &-subtitle {
                display: none;
            }
        }
    }
}

// Category Artists, Promotion, Accessory
#categoryArtists,
#promotion,
#accessory {
    padding-bottom: 3rem;

    .card {
        background-color: unset;
        border: unset;
        border-radius: unset;

        &-header {
            padding: unset;
            border-bottom: unset;
            position: relative;
            overflow: hidden;
            border-radius: unset;

            &-overlay {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                bottom: -100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 1rem;
                background-color: rgba($primary, .8);
                transition: all 0.2s ease;
            }
        }

        &-img {
            border-radius: unset;
        }

        &-body {
            padding-left: 0;
            padding-right: 0;
        }

        &-title {
            color: $primary;
        }

        &-text {
            color: $secondary;
        }

        // Hover
        &:hover {
            .card-header-overlay {
                top: 0%;
                bottom: 0%;
                transition: all 0.2s ease;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .row {
            margin-right: -5px;
            margin-left: -5px;

            >.col,
            >[class*="col-"] {
                padding-right: 5px;
                padding-left: 5px;
            }
        }

        .grid {
            .card {
                display: none;

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: block;
                }
            }
        }

        .card {
            &-title {
                font-size: 20px;
            }

            &-text {
                font-size: 13px;
            }
        }
    }
}

#categoryArtists {
    .filter-button-group {
        .btn {
            color: $secondary;
            font-size: 1.5rem;

            @include hover-focus {
                text-decoration: none;
                color: white;
            }

            &.is-checked {
                color: white;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .filter-button-group {
            .btn {
                font-size: 18px;
            }
        }
    }
}

// Promotion
#promotion {
    .card {
        &-img {
            position: relative;

            img {
                width: 100%;
            }

            .discount {
                position: absolute;
                bottom: .5rem;
                right: .5rem;

                &-inner {
                    background-color: rgba(white, .15);
                    border-radius: 100%;
                    width: 115px;
                    height: 115px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: calc(100% - 10px);
                        height: calc(100% - 10px);
                        background-color: #121116;
                        border-radius: 100%;
                    }
                }

                &-text {
                    position: relative;

                    h1 {
                        margin-bottom: 0;
                        color: $info;
                        font-size: 48px;
                        font-weight: 500;
                        line-height: 28px;

                        small {
                            font-size: 40%;
                        }
                    }

                    h2 {
                        margin-bottom: 0;
                        color: $light;
                        font-size: 30px;
                        line-height: 20px;
                    }
                }

            }
        }

        &-lg {
            .card-img {
                .discount {
                    top: .5rem;
                    left: .5rem;
                    right: auto;
                    bottom: auto;

                    &-inner {
                        width: 150px;
                        height: 150px;
                    }

                    &-text {
                        position: relative;

                        h1 {
                            font-size: 70px;
                            line-height: 40px;
                        }

                        h2 {
                            font-size: 45px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .card-lg {
            margin-bottom: 1.5rem;

            .card-header-overlay {
                justify-content: center;
            }

            .card-body {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($body-bg, .8);
            }
        }
    }
}

// Accessory
#accessory {
    @include media-breakpoint-down(sm) {
        .card {
            &-header-overlay {
                padding-left: .5rem;
                padding-right: .5rem;

                .btn {
                    font-size: 12px;
                    padding-left: .75rem;
                    padding-right: .75rem;
                }
            }

            &-title {
                font-size: 16px;
            }

            &-text {
                font-size: 10px;
            }
        }
    }
}