.modal {

    // Full
    &-full {
        .modal {
            &-dialog {
                max-width: 100%;
                margin: unset;
                height: inherit;
            }

            &-content {
                border: unset;
                border-radius: unset;
                height: inherit;
                background-color: $dark;
            }

            &-header {
                border-bottom-color: rgba($border-color, .15);
            }
        }
    }
}