// Colors
$primary:#5c55e2;
$secondary:#76adf1;
$info:#006cce;
$warning:#dab71b;
$danger:#d73d32;
$dark:#210A40;
$body-bg:#241F2F;
$border-color:#6c65f1;

// Dropdown
$dropdown-bg:rgba(#32066e, .85);
$dropdown-border-color:$border-color;

// Font
$font-kanit:"Kanit";
$font-pridi:"Pridi";
$font-family-base: $font-pridi;
$headings-font-family: $font-kanit;
$headings-font-weight: 400;

// Slick
$slick-dot-color:$secondary;
$slick-dot-size:1rem;

// Buttons
$btn-padding-y: 0.15rem;

// Form
$form-color:$border-color;
$input-border-radius:10rem;
$input-padding-y:.25rem;
$input-padding-x:1rem;
$input-bg:unset;
$input-border-color:$border-color;
$input-placeholder-color:$border-color;

// Popover
$popover-bg:#241f2f;
$popover-border-color:$border-color;

// Breadcrumb
$breadcrumb-bg: unset;
$breadcrumb-divider: quote(">");
$breadcrumb-divider-color:$primary;
$breadcrumb-active-color:$primary;

// Pagination
$pagination-bg:unset;
$pagination-hover-bg:unset;
$pagination-border-color:$primary;
$pagination-hover-border-color:$primary;
$pagination-hover-color:$primary;