// Colors
$primary:#5c55e2;
$secondary:#76adf1;
$info:#006cce;
$dark:#210A40;
$body-bg:#241F2F;

// Font
$font-kanit:"Kanit";
$font-pridi:"Pridi";
$font-family-base: $font-pridi;
$headings-font-family: $font-kanit;
$headings-font-weight: 400;

// Slick
$slick-dot-color:$secondary;
$slick-dot-size:1rem;

// Buttons
$btn-padding-y: 0.15rem;