#categoryPage {
    #menuCategory {
        margin-bottom: 5rem;

        .menu-category {
            &:hover {
                text-decoration: none;
            }

            &:focus {
                outline: none;
            }
        }

        .card {
            background-color: unset;
            border-color: $primary;
            text-align: center;
            opacity: .25;
            @include transition($transition-base);

            &-img {
                margin-bottom: 1rem;
                max-height: 5.625rem;

            }

            &-title {
                color: $primary;
                margin-bottom: 0;
            }

            @include hover-focus {
                text-decoration: none;
                opacity: 1;
                @include transition($transition-base);
            }
        }

        .popover {
            border: unset;
            background-color: unset;
            max-width: calc(100% - 5px);

            .arrow {

                &:before,
                &:after {
                    display: none;
                }
            }

            &-body {
                font-size: 1.5rem;
                padding: .25rem;
            }

            @include media-breakpoint-up(lg) {
                max-width: 100%;
            }

            @include media-breakpoint-down(sm) {
                &-body {
                    font-size: 17px;
                }
            }
        }
    }

    .grid {
        .card {
            background-color: unset;
            border: unset;
            border-radius: unset;

            &-header {
                padding: unset;
                border-bottom: unset;
                position: relative;
                overflow: hidden;
                border-radius: unset;

                &-overlay {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    bottom: -100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 1rem;
                    background-color: rgba($primary, .8);
                    transition: all 0.2s ease;
                }

                &-share {
                    position: absolute;
                    top: -1.5rem;
                    right: 1rem;
                    color: $light;
                    transition: all .2s linear;

                    &:hover {
                        text-decoration: none;
                    }

                    &:focus {
                        display: block;
                    }
                }


            }

            &-img {
                border-radius: unset;
            }

            &-body {
                padding-left: 0;
                padding-right: 0;
            }

            &-title {
                color: $primary;
            }

            &-text {
                color: $secondary;
            }

            // Hover
            &:hover {
                .card-header {
                    &-overlay {
                        top: 0%;
                        bottom: 0%;
                        transition: all 0.2s ease;
                    }

                    &-share {
                        top: .5rem;
                        transition: all .2s linear;
                    }
                }
            }
        }

        .popover {
            border-radius: 10rem;
            background-color: rgba($popover-bg, .7);

            .arrow {
                &:after {
                    border-bottom-color: rgba($popover-bg, .7);
                }
            }

            &-body {
                padding: .25rem 1.5rem;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        #menuCategory .card-title {
            font-size: 24px;
        }
    }
}