#orderPage {
    .list-group {
        &-item {
            display: flex;
            background-color: unset;
            border: unset;
            border-radius: unset;
            color: $secondary;
            border-bottom: 1px solid rgba($primary, .2);
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 1rem;

            .item {

                &-number {
                    font: {
                        family: $font-pridi;
                        size: 4.5rem;
                        weight: 300;
                    }

                    line-height: 4rem;
                    min-width: 3.5rem;
                    color: $primary;
                    margin-bottom: 0;
                }

                .icon-close {
                    display: inline-block;

                    @include hover-focus {
                        svg path {
                            stroke: white !important;
                        }
                    }
                }
            }
        }
    }
}